# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Raw dataset
data/raw/

# Temporary files
*.tmp
*.temp

# Operating system files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/secrets.toml

# IDE files
.vscode/
.idea/